body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(208, 208, 208);
    margin: 0;
    padding: 0;
}

h2, h3, h4 {
    margin-top: 0;
}

div {
    background-color: white;
    padding: 15px;
    margin: 10px;
}

#chart {
    overflow: scroll;
    padding:20px;
}

* {
    box-sizing: border-box;
}

table, tr, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

td {
    padding: 5px;
}
.button{

    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    font-family: Bahnschrift;
    text-decoration: none;
}
.button:hover {
    background-color: limegreen;
    box-shadow: 0 16px 30px 0 rgba(0, 0, 0, 0.4);
}
.button:active {
    background-color: greenyellow;
}